{% extends "base.html" %}

{% block title %}
  Edit Lessons
{% endblock %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/keyboard">Keyboard</a>
</li>
<li class="nav-item">
  <a class="nav-link  active" aria-current="page" href="/lessons">Lessons</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/lessons/1.1">Practice</a>
</li>
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th style="width:5%" scope="col">lesson</th>
      <th style="width:10%" scope="col">title_kor</th>
      <th style="width:15%" scope="col">title_eng</th>
      <th style="width:50%" scope="col">content</th>
      <th style="width:10%" scope="col"></th>
      <th style="width:10%" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for lesson in lessons %}
    <tr>
      <th scope="row">{{lesson["lesson"]}}</th>
      <td>{{lesson["title_kor"]}}</td>
      <td>{{lesson["title_en"]}}</td>
      <td>
        {% for sublesson in lesson["sublessons"] %}
        <strong> {{sublesson["title_kor"]}} [{{sublesson["title_en"]}}] </strong> <br>
        {{sublesson["text"]}} <br> <br>
        {% endfor %}
      </td>
      <td class="text-center">
        <form class="button" action="/editlesson?lesson={{lesson['lesson']}}" method="POST">
        <div class="row m-1 justify-content-md-center">
            <button class="btn btn-warning">
              edit
            </button>
        </div>
        </form>
      </td>
      <td class="text-center">
        <form class="button" action="/removelesson?lesson={{lesson['lesson']}}" method="POST">
        <div class="row m-1 justify-content-md-center">
            <button class="btn btn-danger">
              delete
            </button>
        </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form class="button" action="/makelesson" method="get">
<div class="row m-1 justify-content-md-center">
    <button class="btn btn-success btn-lg btn-block">
      + Add lesson
    </button>
</div>
</form>
{% endblock %}
