{% extends "base.html" %}

{% block title %}
  Keyboard
{% endblock %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/keyboard">Keyboard</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/lessons">Lessons</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/lessons/1.1">Practice</a>
</li>
{% if isadmin %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/admins">Admins</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="row p-1 mx">
  <div class="col-8 mx-auto">
    <div class="row p-1 mx">
      <h3 class="text-center"> Start Typing in Korean! </h3>
    </div>
    <div class="row p-1">
      <div class="d-grid gap-2 mx-auto">
        <div class="col-10 mx-auto form-group">
          <textarea class="form-control" rows="4"></textarea>
        </div>
      </div>
    </div>
    <div id="keyboard">
      <div id="row0" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
      <div id="row1" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
      <div id="row2" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
      <div id="row3" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
      <div id="row4" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
    </div>
  </div>
</div>


{% endblock %}


{% block script %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script>
    const row0 = ["Backquote", "Digit1", "Digit2", "Digit3", "Digit4", "Digit5", "Digit6", "Digit7", "Digit8", "Digit9", "Digit0", "Minus", "Equal", "Backspace"];
    const row1 = ["Tab", "KeyQ", "KeyW", "KeyE", "KeyR", "KeyT", "KeyY", "KeyU", "KeyI", "KeyO", "KeyP", "BracketLeft", "BracketRight", "Backslash"];
    const row2 = ["CapsLock", "KeyA", "KeyS", "KeyD", "KeyF", "KeyG", "KeyH", "KeyJ", "KeyK", "KeyL", "Semicolon", "Quote", "Enter"];
    const row3 = ["ShiftLeft", "KeyZ", "KeyX", "KeyC", "KeyV", "KeyB", "KeyN", "KeyM", "Comma", "Period", "Slash", "ShiftRight"];
    const row4 = ["Space"];
    var rows = [row0, row1, row2, row3, row4]

    for (let i = 0; i < rows.length; i++) {
      var parent = document.getElementById("row" + String(i))
      var row = rows[i]
      for (let j = 0; j < row.length; j++) {
        var img = document.createElement("img");
        img.setAttribute("src", "{{ url_for('static', filename='KeysWhite/_.png') }}".replace("_", row[j]));
        img.setAttribute("height", "50px");
        img.setAttribute("id", row[j]);
        parent.appendChild(img);
      }
    }


    $(document).ready(function(){
        const keys = rows.flat();
        let highlight = function (event) {
          if (!event.metaKey && !event.ctrlKey && keys.includes(event.code)) {
            if (event.code == "Tab") {
              event.preventDefault();
            }
            var img = document.getElementById(event.code);
            img.setAttribute("src", "{{ url_for('static', filename='KeysBrown/_.png') }}".replace("_", event.code));
          }
        }

        let unhighlight = function (event) {
          if (!event.metaKey && !event.ctrlKey && keys.includes(event.code)) {
            document.getElementById(event.code).setAttribute("src", "{{ url_for('static', filename='KeysWhite/_.png') }}".replace("_", event.code));
          }
        }

        // set up event listeners to highlight corresponding button on keypress
        const textarea = document.querySelector('textarea');
        textarea.addEventListener("keydown", highlight);
        textarea.addEventListener("keyup", unhighlight);

    });
   </script>

{% endblock %}
