{% extends "base.html" %}

{% block title %}
  Keyboard
{% endblock %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/keyboard">Keyboard</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/lessons">Lessons</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/practice/1.1">Practice</a>
</li>
{% endblock %}

{% block content %}
<div class="row p-1 mx"> 
  <div class="col-8 mx-auto">
  <div class="row p-1 mx">
    <h3 class="text-center"> Start Typing in Korean! </h3>
  </div>
  <div class="row p-1">
    <div class="d-grid gap-2 mx-auto">
    <div class="col-10 mx-auto form-group">
      <textarea class="form-control" rows="4"></textarea>
    </div>
    </div>
  </div>
  <div id="keyboard">
  <div class="row p-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Backquote"> ~ <br> ` </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Digit1"> ! <br> 1 </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Digit2"> @ <br> 2 </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Digit3"> # <br> 3 </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Digit4"> $ <br> 4 </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Digit5"> % <br> 5 </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Digit6"> ^ <br> 6 </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Digit7"> & <br> 7 </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Digit8"> * <br> 8 </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Digit9"> ( <br> 9 </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Digit0"> ) <br> 0 </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Minus"> _ <br> - </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Equal"> + <br> = </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Backspace"> backspace </button>
    </div>
  </div>
  <div class="row p-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <!-- <button type="button" class="btn btn-outline-secondary btn-lg" id="Tab"> tab </button> -->
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyQ"> q ㅃ <br> ㅂ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyW"> w ㅉ <br> ㅈ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyE"> e ㄸ <br> ㄷ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyR"> r ㄲ <br> ㄱ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyT"> t ㅆ <br> ㅅ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyY"> y <br> ㅛ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyU"> u <br> ㅕ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyI"> i <br> ㅑ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyO"> o ㅒ <br> ㅐ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyP"> p ㅖ <br> ㅔ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="BracketLeft"> { <br> [ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="BracketRight"> } <br> ] </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Backslash"> | <br> \ </button>
    </div>
  </div>
  <div class="row p-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button type="button" class="btn btn-outline-secondary btn-lg" id="CapsLock"> caps lock </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyA"> a <br> ㅁ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyS"> s <br> ㄴ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyD"> d <br> ㅇ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyF"> f <br> ㄹ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyG"> g <br> ㅎ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyH"> h <br> ㅗ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyJ"> j <br> ㅓ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyK"> k <br> ㅏ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyL"> l <br> ㅣ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Semicolon"> : <br> ; </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Quote"> " <br> ' </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Enter"> enter </button>
    </div>
  </div>
  <div class="row p-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button type="button" class="btn btn-outline-secondary btn-lg" id="ShiftLeft"> shift </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyZ"> z <br> ㅋ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyX"> x <br> ㅌ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyC"> c <br> ㅊ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyV"> v <br> ㅍ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyB"> b <br> ㅠ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyN"> n <br> ㅜ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="KeyM"> m <br> ㅡ </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Comma"> < <br> , </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Period"> > <br> . </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="Slash"> ? <br> / </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="ShiftRight"> shift </button>
    </div>
  </div>
  <div class="row p-1">
      <div class="d-grid gap-2 col-5 mx-auto">
        <button class="btn btn-outline-secondary btn-lg" type="button" id="Space"> &nbsp </button>
    </div>
  </div>
  </div>
  </div>
</div>


{% endblock %}


{% block script %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script>
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
   const keys = ["Digit0", "Digit1", "Digit2", "Digit3", "Digit4", "Digit5", "Digit6", "Digit7", "Digit8", "Digit9",
   "KeyA", "KeyB", "KeyC", "KeyD", "KeyE", "KeyF", "KeyG", "KeyH", "KeyI", "KeyJ", "KeyK", "KeyL", "KeyM", "KeyN",
   "KeyO", "KeyP", "KeyQ", "KeyR", "KeyS", "KeyT", "KeyU", "KeyV", "KeyW", "KeyX", "KeyY", "KeyZ",
   "Backquote", "Minus", "Equal", "Backspace", "BracketLeft", "BracketRight", "Backslash", "CapsLock", "Semicolon", "Quote", "Enter", "ShiftLeft", "Comma", "Period", "Slash", "ShiftRight", "Space"];
   let highlight = function (event) {
     console.log(event.code);
     if (!event.metaKey && !event.ctrlKey && keys.includes(event.code)) {
       document.getElementById(event.code).className = "btn btn-secondary btn-lg";
    }
   }

   let unhighlight = function (event) {
     console.log(event.code);
     if (!event.metaKey && !event.ctrlKey && keys.includes(event.code)) {
       document.getElementById(event.code).className = "btn btn-outline-secondary btn-lg";
     }
   }

   // set up event listeners to highlight corresponding button on keypress
   const textarea = document.querySelector('textarea');
   textarea.addEventListener("keydown", highlight);
   textarea.addEventListener("keyup", unhighlight);
   </script>

{% endblock %}
