{% extends "base.html" %}

{% block title %}
  Landing
{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
<div class="text-center mx-5 p-5">
  <br><br><br>
<h2> Learn to type in Korean with HolangiType. Practice typing using texts from Integrated Korean or upload your own custom texts.
</h2>
<form class="button" action="/login" method="get">
  <button class="btn btn-primary btn-lg btn-block p-4 m-3" type="submit">
    <h2> &emsp; Get started &#8594 &emsp; </h2>
  </button>
</form>
<p class="m-3">
CAS authentication required
</p>
</div>
{% endblock %}
