{% extends "base.html" %}

{% block title %}
  Typing Practice
{% endblock %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/keyboard">Keyboard</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/lessons">Lessons</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/practice/1.1">Practice</a>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid p-1">
  <div class="row p-1 mx"> 
    <div id="info_alert" class="alert alert-warning alert-dismissible fade show text-center" role="alert">
      This website intended to help students of Elementary Korean practice touch-typing in Korean (with or without a physical Korean keyboard). <br>
      <strong>Before you begin typing make sure your input source is the 2-set Korean keyboard. For more information, click the [?] on the top right. </strong> 
      <button id="dismiss_info_alert" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row mx-auto"> 
      <div class="col-8 mx-auto"> <h3 class="text-center"> L{{lesson_num}}: {{text["title_kor"]}} </h3> </div>
    </div>
    <div class="row mx-auto">
    <div class="col-3">
      {% if prev %} 
      <a class="float-end btn btn-outline-dark" href={{prev}}> ❮ Prev </a> 
      {% else %} 
      <a class="float-end btn btn-outline-dark" href="/"> ❮ Home </a>   
      {% endif %}
    </div>
    <div class="col-6 mx-auto alert alert-secondary">
        {% set count = namespace(value=0) %}
        {% for line in text["text"] %}
         <p class="h6"> 
          {% for phrase in line %}
          {% if count.value == 0 %}
          <span id="{{count.value}}" style="background-color:#FFFF00">{{phrase}}</span> 
          {% else %}
          <span id="{{count.value}}">{{phrase}}</span> 
          {% endif %}
          {% set count.value = count.value + 1 %}
          {% endfor %}
        </p>
        {% endfor %}
    </div>
    <div class="col-3">
      {% if next %}
      <a class="btn btn-outline-dark" href={{next}}> Next ❯ </a>
      {% else %} 
      <a class="btn btn-outline-dark" href="/"> Home ❯ </a>
      {% endif %}
    </div>
  </div>
  </div>

    <form class="row mx-auto">
    <div class="col-6 mx-auto"> 
      <div class="row">
        <div class="col-9">
          <div class="form-group">
            <input id="user_input" type="text" class="form-control">
          </div>
        </div>
        <div class="col-2">
          <div class="d-grid gap-2">
          <button id="wpm" type="button" class="btn btn-secondary px-1">
            WPM: ---
          </button>
          </div>
        </div>
        <div class="col-1">
          <button id="restart" type="button" class="btn btn-outline-dark px-2">
            <img src="{{ url_for('static', filename='refresh.png') }}" height="25px">
          </button>
        </div>
      </div>
      </div>
    </form>

  <br>
  <div id="keyboard">
    <div id="row0" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
    <div id="row1" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
    <div id="row2" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
    <div id="row3" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
    <div id="row4" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
  </div>

</div>
{% endblock %}

{% block script %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script>
  'use strict';

  // only display the info alert if it is the user's first time visiting the site
  let set_visited = function() {
    localStorage.setItem('visited', true);
  }

  var visited = localStorage.getItem('visited');
  if (visited) {
    document.getElementById("info_alert").remove();
  }

  // keyboard layout
  const row0 = ["Backquote", "Digit1", "Digit2", "Digit3", "Digit4", "Digit5", "Digit6", "Digit7", "Digit8", "Digit9", "Digit0", "Minus", "Equal", "Backspace"];
  const row1 = ["Tab", "KeyQ", "KeyW", "KeyE", "KeyR", "KeyT", "KeyY", "KeyU", "KeyI", "KeyO", "KeyP", "BracketLeft", "BracketRight", "Backslash"];
  const row2 = ["CapsLock", "KeyA", "KeyS", "KeyD", "KeyF", "KeyG", "KeyH", "KeyJ", "KeyK", "KeyL", "Semicolon", "Quote", "Enter"];
  const row3 = ["ShiftLeft", "KeyZ", "KeyX", "KeyC", "KeyV", "KeyB", "KeyN", "KeyM", "Comma", "Period", "Slash", "ShiftRight"];
  const row4 = ["Space"];
  var rows = [row0, row1, row2, row3, row4]

  // create keyboard
  for (let i = 0; i < rows.length; i++) {
    var parent = document.getElementById("row" + String(i))
    var row = rows[i]
    for (let j = 0; j < row.length; j++) {
      var img = document.createElement("img");
      img.setAttribute("src", "{{ url_for('static', filename='KeysWhite/_.png') }}".replace("_", row[j]));
      img.setAttribute("height", "50px");
      img.setAttribute("id", row[j]);
      parent.appendChild(img);
    }
  }

  const total_characters = {{num_characters|safe}};
  var incorrect_characters = 0;
  var text = {{text["text"] | safe}}; // phrases in the conversation
  var curr = 0; // counter of current phrase
  var start_timer = false;
  var begin = null;
  var end = null;

  // ignore enter key
  let ignoreEnter = function(event) {
    if (event.key == "Enter") {
      event.preventDefault();
    }
  }

  // check if user input matches current phrase
  let check_phrase = function (event) {
    console.log("typing", event.code);
    if (!start_timer) {
      start_timer = true;
      begin = Date.now();
    }
    if (event.key == "Enter" || event.key == " "){
      event.preventDefault();
      let curr_phrase = document.getElementById(curr.toString());

      // if we have not reached the end of the text
      if (curr_phrase) {
        let user_input = document.getElementById("user_input").value.trim().replace('?', '').replace('.', '').replace(',', '');
        let phrase = curr_phrase.textContent.trim().replace('?', '').replace('.', '').replace(',', '');
        if (user_input == phrase) {
          curr_phrase.style.color = "#339900";
        } 
        else{
          curr_phrase.style.color = "#CC3300";
          incorrect_characters += phrase.length;
        }
        curr += 1;
        curr_phrase.style.backgroundColor = "transparent";
        let next_phrase = document.getElementById(curr.toString());
        if (next_phrase){
          next_phrase.style.backgroundColor ="#FFFF00";
        }
        // if we have finished typing all of the phrases
        else {
          end = Date.now();
          let minutes_elapsed = (end - begin) / 60000;
          let correct_characters = total_characters - incorrect_characters;
          let wpm = Math.floor(correct_characters/minutes_elapsed)
          let wpm_button = document.getElementById("wpm").textContent = "WPM: " + wpm;
        }
        document.getElementById("user_input").value = "";
      } 
    } 
  }

  let restart = function() {
    let phrases = text.flat();
    for (let i=0; i < phrases.length; i++) {
      let curr_phrase = document.getElementById(i.toString());
      curr_phrase.style.color = "#000000";
      curr_phrase.style.backgroundColor = "transparent";
      if (i==0){
        curr_phrase.style.backgroundColor = "#FFFF00";
      }
    }
    incorrect_characters = 0;
    curr = 0;
    start_timer = false; 
    begin = null;
    end = null;
    document.getElementById("user_input").value = "";
  }

  const keys = rows.flat();
  // highlight key (make brown) associated with event listener
  let highlight = function (event) {
  if (!event.metaKey && !event.ctrlKey && keys.includes(event.code)) {
    if (event.code == "Tab") {
      event.preventDefault();
    }
    var img = document.getElementById(event.code);
    img.setAttribute("src", "{{ url_for('static', filename='KeysBrown/_.png') }}".replace("_", event.code));
  }
  }

  // unhighlight key (make white) associated with event listener
  let unhighlight = function (event) {
  if (!event.metaKey && !event.ctrlKey && keys.includes(event.code)) {
    document.getElementById(event.code).setAttribute("src", "{{ url_for('static', filename='KeysWhite/_.png') }}".replace("_", event.code));
    }
  }

   // set up event listeners to highlight corresponding button on keypress
   const input = document.querySelector('input');
   input.addEventListener("keydown", highlight); // highlight key being pressed
   input.addEventListener("keyup", unhighlight); // unlight key a user unpressed
   input.addEventListener("keyup", check_phrase) // check each phrase after a user finishes typing it
   input.addEventListener("keypress", ignoreEnter); // don't refresh page when enter key is pressed
   
   const restart_button = document.getElementById("restart");
   restart_button.addEventListener("click", restart);

   const dismiss_info_alert = document.getElementById("dismiss_info_alert");
   dismiss_info_alert.addEventListener("click", set_visited);
   </script>

{% endblock %}