{% extends "base.html" %}

{% block title %}
  Typing Practice
{% endblock %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/keyboard">Keyboard</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/lessons">Lessons</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/practice/1.1">Practice</a>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid p-1">
  <div class="row p-1 mx"> 
    <div class="row mx-auto"> 
      <div class="col-8 mx-auto"> <h3 class="text-center"> L{{lesson_num}}: {{text["title_kor"]}} </h3> </div>
    </div>
    <div class="row mx-auto">
    <div class="col-3">
      {% if prev %} 
      <a class="float-end btn btn-outline-dark" href={{prev}}> ❮ Prev </a> 
      {% else %} 
      <a class="float-end btn btn-outline-dark" href="/"> ❮ Home </a>   
      {% endif %}
    </div>
    <div class="col-6 mx-auto alert alert-secondary">
        {% set count = namespace(value=0) %}
        {% for line in text["text"] %}
         <p class="h6"> 
          {% for phrase in line %}
          {% if count.value == 0 %}
          <span id="{{count.value}}" style="background-color:#FFFF00">{{phrase}}</span> 
          {% else %}
          <span id="{{count.value}}">{{phrase}}</span> 
          {% endif %}
          {% set count.value = count.value + 1 %}
          {% endfor %}
        </p>
        {% endfor %}
    </div>
    <div class="col-3">
      {% if next %}
      <a class="btn btn-outline-dark" href={{next}}> Next ❯ </a>
      {% else %} 
      <a class="btn btn-outline-dark" href="/"> Home ❯ </a>
      {% endif %}
    </div>
  </div>
  </div>

    <form class="row mx-auto">
    <div class="col-6 mx-auto"> 
        <div class="form-group">
          <input id="user_input" type="text" class="form-control">
        </div>
    </div>
    </form>

  <br>
  <div id="keyboard">
    <div id="row0" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
    <div id="row1" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
    <div id="row2" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
    <div id="row3" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
    <div id="row4" class="row-1 p-1 d-grid gap-1 d-md-flex justify-content-md-center"></div>
  </div>

</div>
{% endblock %}

{% block script %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script>
  'use strict';

  const row0 = ["Backquote", "Digit1", "Digit2", "Digit3", "Digit4", "Digit5", "Digit6", "Digit7", "Digit8", "Digit9", "Digit0", "Minus", "Equal", "Backspace"];
  const row1 = ["Tab", "KeyQ", "KeyW", "KeyE", "KeyR", "KeyT", "KeyY", "KeyU", "KeyI", "KeyO", "KeyP", "BracketLeft", "BracketRight", "Backslash"];
  const row2 = ["CapsLock", "KeyA", "KeyS", "KeyD", "KeyF", "KeyG", "KeyH", "KeyJ", "KeyK", "KeyL", "Semicolon", "Quote", "Enter"];
  const row3 = ["ShiftLeft", "KeyZ", "KeyX", "KeyC", "KeyV", "KeyB", "KeyN", "KeyM", "Comma", "Period", "Slash", "ShiftRight"];
  const row4 = ["Space"];
  var rows = [row0, row1, row2, row3, row4]

  for (let i = 0; i < rows.length; i++) {
    var parent = document.getElementById("row" + String(i))
    var row = rows[i]
    for (let j = 0; j < row.length; j++) {
      var img = document.createElement("img");
      img.setAttribute("src", "{{ url_for('static', filename='KeysWhite/_.png') }}".replace("_", row[j]));
      img.setAttribute("height", "50px");
      img.setAttribute("id", row[j]);
      parent.appendChild(img);
    }
  }

  var text = {{text["text"] | safe}};
  var curr = 0;
  let check_line = function (event) {
    if (event.key == "Enter" || event.key == " "){
      event.preventDefault();
      let curr_line = document.getElementById(curr.toString());
      if (curr_line) {
        let user_input = document.getElementById("user_input").value.trim();
        console.log(user_input);
        console.log(curr_line.textContent.trim());
        if (user_input == curr_line.textContent.trim()) {
          curr_line.style.color = "#339900";
        } else{
          curr_line.style.color = "#CC3300";
        }
        curr += 1;
        curr_line.style.backgroundColor = "transparent";
        let next_line = document.getElementById(curr.toString());
        next_line.style.backgroundColor ="#FFFF00";
        document.getElementById("user_input").value = "";
      }
    } 
  }


  
  const keys = rows.flat();
  let highlight = function (event) {
  if (!event.metaKey && !event.ctrlKey && keys.includes(event.code)) {
    if (event.code == "Tab") {
      event.preventDefault();
    }
    var img = document.getElementById(event.code);
    img.setAttribute("src", "{{ url_for('static', filename='KeysBrown/_.png') }}".replace("_", event.code));
  }
  }

  let unhighlight = function (event) {
  if (!event.metaKey && !event.ctrlKey && keys.includes(event.code)) {
    document.getElementById(event.code).setAttribute("src", "{{ url_for('static', filename='KeysWhite/_.png') }}".replace("_", event.code));
    }
  }

   // set up event listeners to highlight corresponding button on keypress
   const input = document.querySelector('input');
   input.addEventListener("keydown", highlight);
   input.addEventListener("keyup", unhighlight);
   input.addEventListener("keypress", check_line)
   </script>

{% endblock %}